In [2]:
import pandas as pd
import numpy as np 
import os

In [3]:
path = r'/Users/daniel/Library/CloudStorage/OneDrive-PersoÌˆnlich/00 Synology/01 Dokumente/2023 Docs/99 CareerFoundry/06 Advanced Analytics'

In [4]:
citi = pd.read_csv(os.path.join(path, '01 Data', 'citibike.csv'))

In [5]:
citi.columns

Index(['trip_id', 'bike_id', 'weekday', 'start_hour', 'start_time',
       'start_station_id', 'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_time', 'end_station_id',
       'end_station_name', 'end_station_latitude', 'end_station_longitude',
       'trip_duration', 'subscriber', 'birth_year', 'gender'],
      dtype='object')

In [6]:
citi.describe()

,bike_id,start_hour,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,trip_duration,birth_year,gender
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,43021.000000,50000.000000
mean,17615.269360,14.145240,443.321500,40.734170,-73.991109,442.539700,40.733859,-73.991351,838.982900,1975.627786,1.073540
std,1675.407446,4.860541,356.559925,0.019911,0.012555,355.756022,0.019885,0.012569,573.663997,11.089001,0.589389
min,14556.000000,0.000000,72.000000,40.680342,-74.017134,72.000000,40.680342,-74.017134,60.000000,1899.000000,0.000000
25%,16188.000000,10.000000,304.000000,40.720196,-74.000271,304.000000,40.720196,-74.001547,417.000000,1968.000000,1.000000
50%,17584.000000,15.000000,402.000000,40.735877,-73.990765,402.000000,40.735354,-73.991218,672.000000,1978.000000,1.000000
75%,19014.000000,18.000000,484.000000,40.750020,-73.981923,483.000000,40.749013,-73.982050,1112.000000,1984.000000,1.000000
max,20642.000000,23.000000,3002.000000,40.770513,-73.950048,3002.000000,40.770513,-73.950048,2697.000000,1997.000000,2.000000

In [7]:
citi['bike_id'].value_counts()

16188    93
20118    91
18278    90
19755    85
17796    85
         ..
14733     5
18603     4
16964     3
15220     2
19465     2
Name: bike_id, Length: 996, dtype: int64

In [8]:
citi.dtypes

trip_id                     object
bike_id                      int64
weekday                     object
start_hour                   int64
start_time                  object
start_station_id             int64
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_time                    object
end_station_id               int64
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
trip_duration                int64
subscriber                  object
birth_year                 float64
gender                       int64
dtype: object

In [11]:
# checking for not available items
na_count = citi.isna().sum()

In [10]:
na_count

trip_id                       0
bike_id                       0
weekday                       0
start_hour                    0
start_time                    0
start_station_id              0
start_station_name            0
start_station_latitude        0
start_station_longitude       0
end_time                      0
end_station_id                0
end_station_name              0
end_station_latitude          0
end_station_longitude         0
trip_duration                 0
subscriber                    0
birth_year                 6979
gender                        0
dtype: int64

In [12]:
citi.shape

(50000, 18)

In [13]:
citi.dropna(subset=['birth_year'], inplace=True)

In [14]:
citi.shape

(43021, 18)

In [15]:
# Drop rows with '0' as the value in the 'gender' column
citi = citi[citi['gender'] != 0]

In [16]:
citi.shape

(43019, 18)

In [17]:
# Check for duplicate rows in the DataFrame
duplicates = citi.duplicated()

# Display the duplicate rows
print("Duplicate Rows:")
print(citi[duplicates])

Duplicate Rows:
Empty DataFrame
Columns: [trip_id, bike_id, weekday, start_hour, start_time, start_station_id, start_station_name, start_station_latitude, start_station_longitude, end_time, end_station_id, end_station_name, end_station_latitude, end_station_longitude, trip_duration, subscriber, birth_year, gender]
Index: []

In [19]:
# Find duplicates another way

citi_dups = citi[citi.duplicated()]

In [20]:
citi_dups.shape

(0, 18)

No duplicates.

In [21]:
#checking for mixed types
for col in citi.columns.tolist():
      weird = (citi[[col]].applymap(type) != citi[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (citi[weird]) > 0:
        print (col)
        
# No mixed-type columns either!

In [22]:
#export to csv
citi.to_csv(os.path.join(path, '01 Data', 'citi_clean.csv'), index = False)

In [23]:
citi.shape

(43019, 18)